h1 {font-family: menufont;}

/* Characards Modal (background) */
.modal {
  display: none; /* Hidden by default - remember to change to none after we get a button connected */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: menufont;
}

/* Characards Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: menufont;
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
  color: white;
  font-family: menufont;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color:red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: menufont;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}
/* Health and Damage skill bars - Make sure that padding behaves as expected */
* {
  box-sizing:border-box;
  padding: 0px
}

/* Container for health and damage skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

/* Health and Damage skills bars */
.skills {
  text-align: center; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.char1Defense, .char2Attack, .char3Defense, .char4Attack, .char5Attack {
  white-space: nowrap;
}

/*GRUMPY BEAR SPECIFIC */
.char1Defense {width: 42%; background-color: #4CAF50;} /* Green */
.char1Attack {width: 70%; background-color: #f44336;} /* Red */

/*Love-a-lot BEAR SPECIFIC */
.char2Defense {width: 70%; background-color: #4CAF50;} /* Green */
.char2Attack {width: 42%; background-color: #f44336;} /* Red */

/*FUNSHINE BEAR SPECIFIC */
.char3Defense {width: 45%; background-color: #4CAF50;} /* Green */
.char3Attack {width: 50%; background-color: #f44336;} /* Red */

/*FRIEND BEAR SPECIFIC*/
.char4Defense {width: 50%; background-color: #4CAF50;} /* Green */
.char4Attack {width: 45%; background-color: #f44336;} /* Red */

/*CHEER BEAR SPECIFIC Health and Damage */
.char5Defense {width: 60%; background-color: #4CAF50;} /* Green */
.char5Attack {width: 42%; background-color: #f44336;} /* Red */

#characterBtn:hover {
cursor: pointer;
};
* {
  box-sizing: border-box;
}

/*Float images*/
.img-container {
  float: left;
  width: 20%;
  padding: 5px;
}

/*Clear fix for float*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Select character button change on hover*/
/* .character1 {
} */