.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196F3;
  position: absolute;
  z-index: -1;
  display: all;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  border: 1px solid rgba(255, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  position: relative;
}

#stickfigure {
  position: absolute;
  z-index: 2; 
  top:220.5px; 
  left: 310.4px;
  height: 100px;
  width: 80px;
}

.rock {
  position: absolute;
  top: 0;
  left: 11px;
  z-index: 1;
  height: 100px;
  width: 80px;
  background: transparent;
}

.borderRock {
  position: absolute;
  top: 0;
  left: 11px;
  z-index: 1;
  height: 100px;
  width: 80px;
  background: transparent;
}

.politician {
  position: absolute;
  z-index: 2;
  height: 100px;
}

#putin {
  width: 80px;
  top: 427.5px;
  left: 712px;
}

#trump {
  width: 45px;
  top: 747.1px;
  left: 1331.9px;
}

.grass {
  z-index: 0;
  position: relative;
  height: 104.2px;
  width: 98.4px;
}

.flex {
  display: flex;
}