



.backgroundDisplay{
    width: 90%;
    height: 75%;
    margin-left: 145px;
    font-size: 72;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("../endgamecontent/endgamebackground2.gif");
    background-repeat: no-repeat;

}

#startoverbtn {
    width: 90%;
    height: 75%;
    margin-left: 145px;
    font-size: 72;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("../endgamecontent/endgame1.gif");
    background-repeat: no-repeat;

}

   
